* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

li {
  list-style-type: none;
}

strong {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  width: -moz-min-content;
  width: min-content;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(65, 91, 141);
}

header {
  height: 50px;
}
header span {
  position: fixed;
  top: 16px;
  left: 18px;
  color: white;
  font-size: 60px;
}

button {
  padding: 5px;
  border-radius: 6px;
  box-shadow: 1.5px 3px gray;
  border: none;
  color: white;
  background-color: blue;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-left: auto;
}

.picture {
  padding: 4%;
  background-image: url(images/deborah.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}
.picture .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  /* Adjust the gradient colors and opacity as needed */
}
.picture .name {
  color: white;
  font-size: 45px;
  font-weight: bold;
  font-family: "Lobster", sans-serif;
  position: absolute;
  bottom: 15px;
}

.scroll-indicator {
  position: fixed;
  top: 50%;
  right: 15px;
  /* Adjust as needed */
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.scroll-indicator .circle {
  width: 13px;
  height: 13px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  /* Adjust the default circle color */
  transition: background-color 0.3s ease;
  /* Smooth transition for background color changes */
}

.long_text {
  font-size: 18px;
  text-align: center;
  color: white;
}

.title {
  padding: 4%;
  color: white;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact div {
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact ul {
  display: flex;
  gap: 24px;
}
.contact ul li {
  font-size: 22px;
}

.about {
  padding: 4%;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(145, 160, 189));
}
.about div {
  text-align: center;
  padding-bottom: 12px;
  color: white;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.articles {
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(145, 160, 189));
  padding: 60px 4%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.articles .article_picture {
  height: 300px;
  border: 1px solid rgb(2, 67, 188);
}
.articles h3 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.articles ul {
  display: flex;
  justify-content: space-around;
}
.articles ul div {
  display: flex;
  gap: 3px;
}
.articles ul div p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.hide {
  display: none;
}/*# sourceMappingURL=index.css.map */