.my_navbar {
    background-color: #e6edf4;
  
    .navbar-brand {
      color: #e21616;
      font-weight: bold;
    }
  
    .nav-link {
      color: #333;
  
      &:hover {
        color: #007bff;
      }
    }
  
    .navbar-toggler {
      border-color: #333;
    }
  }