:root {
  --nav-primary-color: #333;
  --nav-bg: #fff;
}

.dark_mode {
  --nav-primary-color: #fff;
  --nav-bg: rgb(16, 16, 14);
}

.my_navbar {
    background-color: var(--nav-bg);
    border-bottom: 2px solid black;
  
    .navbar-brand {
      color: var(--nav-primary-color);
      font-weight: bold;
    }
  
    .nav-link {
      color: var(--nav-primary-color);
      text-align: center;
  
      &:hover {
        color: #007bff;
      }
    }
  
    .navbar-toggler {
      border-color: var(--nav-primary-color);

      span {
        color: var(--nav-primary-color);
      }
    }
  }